/*-------------------INICIO DE SESION----------------------*/

/* Desktop - 1 */

.mainbackground {
    position: absolute;
    left: 0%;
    right: 0.01%;
    top: 0.01%;
    bottom: 0%;
    color: white;
    /*background: rgba(0, 34, 227, 1);*/
    background-image: url(/utilidades/fondo1.png);
    font-size: 20px;
    font-weight: bold;
    overflow-x: hidden;
}

/* MODIFICACIÓN DEL SVG */
.icon {
    margin: 50px;
    position: relative;
    top: -12px;
}

/* SECCIONES*/
.contenido-menu {
    margin: 50px;
    align-items: right;
}

.contenido-menu ul li {
    margin: 0px 20px;
}

/* MI SECCIÓN PARA LOS BANNERS*/
.banners {
    position: relative;
    left: -150px;
    top: -25px;
}

.banners aside {
    display:flex;
}

aside .main {
    width: 80%;
}

.main-img {
    align-items: right;
    text-align: right;
    margin: 60px 0px;
}

.main-img img {
    position: absolute;
    height: 84%;
    border-radius: 20px;
}

